# defines the BOARD_PLAITPLIOT symbol and selects the esp 32 wroom 32ue and the pro cpu,  

# TODO: need to change this back to the wroom ue32 or whatever the fuck it was.
config BOARD_PLAITPILOT
	select SOC_STM32F446XX